<footer class="footer">
    <div class="container text-center">
        <div class="col-xs-4">
            <p>Copyright &copy 2016 Ryan Talbot</p>
        </div>
        <div class="col-xs-4">
            <p>UCF Coding Boot Camp Week 14 Assignment</p>
        </div>
        <div class="col-xs-4">
            <p><a href="https://github.com/rgtalbot/eat-da-burger" target="_blank">GitHub Repo</a></p>
        </div>
    </div>
</footer>