.burgerHead {
    background: url(../img/burger.jpg) no-repeat center top;
    margin-top: 80px;
    padding-top: 120px;
    text-align:center;
    background-attachment: relative;
    background-position: center center;
    min-height: 400px;
    width: 100%;
    color: white;

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.burgerIcon {
    max-height: 25px;
}

.row {
    margin: 10px auto;
}

.panel-default .panel-heading {
    background-color: darkred;
    color: white;
}